<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.gateway.mapper.PersonMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="Person" id="Person">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getPersonByName" parameterType="String" resultMap="Person">
        select *
        from person
        where 1=1
            and `name` = #{name,jdbcType=VARCHAR}
    </select>

</mapper>